<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Private Events" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to "All Events", root_path %> 
        <% if user_signed_in? %>
          | <%= link_to "Your Events", user_path(current_user) %>
        <% end %>
      </nav>
      <h1><%= link_to "EventBright", root_path %></h1>
      <div class="login-links">
        <% if user_signed_in? %>
          <%= current_user.username %> |
          <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Log in", new_user_session_path %>
        <% end %>
      </div>
    </header>
    <div id="flash-modal" class="flash-modal">
      <% flash.each do |key, message| %>
        <div class="flash-message flash-<%= key %>">
          <%= message %>
        </div>
      <% end %>
    </div>
    <%# <p class="notice"><%= notice %></p> 
    <%# <p class="alert"><%= alert %></p> 

    <%= yield %>
  </body>
</html>
